#menu-bar{
    width: 100%;
    height: 60px;
    background-color: black;
}
li{
    color: red;
}
#daftar-menu{
    display: none;
}
#menu1:hover #daftar-menu{
    display: block;
}
#menu1{
    background-color: salmon;
    color: black;
    width: 150px;
    text-align: center;
}
#daftar-menu li{
    color: black;
    text-align: left;
    padding: 5px;
}
#daftar-menu li:hover{
    background-color: rosybrown;
}
    
